/*
 * @Author: jiaze 
 * @Date: 2019-09-03 12:01:44 
 * @Last Modified by: jiaze
 * @Last Modified time: 2019-09-07 10:00:50
 */

.cls{
    background:#fff;
    padding-top:20px;
    padding-left:20px;
    border-radius: 20px;
}
.btn1{
    margin-bottom: 20px;
}