/*
 * @Author: jiaze 
 * @Date: 2019-09-03 14:21:45 
 * @Last Modified by:   jiaze 
 * @Last Modified time: 2019-09-03 14:21:45 
 */

.title{
    padding-top:20px;
    padding-bottom: 20px; 
    margin-top: 10px;
}
.table{
    background: rgb(255, 255, 255);
    padding: 24px;
    margin-bottom:20px; 
    border-radius: 10px;
}